/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
main{
    padding-bottom: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.first-head{
    font-style: Bold;
    font-size: 24px;
    line-height: 36px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    margin-top: 87px;
    margin-bottom: 146px;
}
.bold-head{
    font-style: bold;
    font-size: 53px;
    height: 70px;
    line-height: 90%;
    vertical-align: top;
}
.fonting{
   font-style: semi Bold;
   font-size: 16px; 
}
.link-button{
    text-decoration: none;
    background-color: #da353de8;
    padding: 20px 65px;
    color: white;
    font-weight: 900px;
    border-radius: 30px;
}
.sec-fat{
    display: flex;
    margin-bottom: 100px;
}
.first-deep{
    margin-left: 300px;
}
.imag-dip{
    margin-top: 70px;
    margin-right: 300px;
    margin-left: 100px;
    padding-left: 100px;
}
nav ul{
    display: flex;
    font-size: Bold
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: black;
}
img{
    margin-top: 100px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    
}
.container{
    display: flex;
    justify-content: center;
}
.font-chang{
    font-size: 15px;
}
hr{
    border: 1px solid black;
    width: 1200px;
}
.set-pic{
    padding-bottom: 25px;
    text-align: center;
}
.main-head{
    text-align: center;
    padding-top: 20px;
    margin-top: 200px;
}
#colo{
    color: #FB8200;
}
.rev-check{
    display: flex;
}
p{
    margin-left: 15px;
}
.anime-set{
    margin-right: 50px;
    width: 329px;
    height: 476px;
    border-radius: 5px;
}
.grid-container{
    display: flex;
}
.last-sect{
    display: flex;
    padding-bottom: 200px;
    margin-bottom: 100px;
}
#link{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 20px;
}
.option-add{
    display: flex;
}
.rock-st{
    margin-top: 100px;
    margin-left: 80px;
    width: 600px;
}
h1{
    font-size: 30px;
}
.lust-st{
    height: 300px;
    text-align: center;
    background-color: rgb(18, 4, 80);
}
#rocky{
    color: white;
}
.dot{
    padding-top: 25px;
}
@media only screen and (max-width:688px) {
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    img{
        grid-template-columns: repeat(1,1fr);
    }
    .container{
        grid-template-columns: repeat(1,1fr)

    }
}