/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.first-head{
    font-style: Bold;
    font-size: 24px;
    line-height: 36px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    margin-top: 87px;
    margin-bottom: 146px;
}
.bold-head{
    font-style: bold;
    font-size: 53px;
    height: 70px;
    line-height: 90%;
    vertical-align: top;
}
.fonting{
   font-style: semi Bold;
   font-size: 16px; 
}
.link-button{
    text-decoration: none;
    background-color: #da353de8;
    padding: 20px 65px;
    color: white;
    font-weight: 900px;
    border-radius: 30px;
}
.sec-fat{
    display: flex;
}
.first-deep{
    margin-left: 120px;
}
.imag-dip{
    margin-top: 70px;
    margin-right: 300px;
    margin-left: 100px;
    padding-left: 100px;
}
nav ul{
    display: flex;
    font-size: Bold
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: black;
}
img{
    margin-top: 100px;
    background-image: url(images/shape-3.png);
    background-repeat: no-repeat;
    
}